@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
* {
    box-sizing: border-box;
  }
body{
    margin: 0;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 5%;
}

.topnav {
    background-color: #0b0e71;
    overflow: hidden;
    margin: 25px 0;
    max-width:auto;
}

.topnav > a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.topnav a:hover {
    background-color: white;
    color: #0b0e71;
}

.topnav a.active {
    background-color: #d8f904;
    color: #0b0e71;
}

p {
    padding: 10px 20%;
    font-size: 18px;
}
